# Dépendances
node_modules/
.pnpm/

# Dossiers de build
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.local
.env.production
.env.development

# Systèmes
.DS_Store
Thumbs.db

# Supabase
.supabase/

# n8n
.n8n/

# Systèmes de test
coverage/

# Exemples ou exports
*.zip